In [91]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
from scipy import stats

In [79]:
cols = ['Activity ID',
 'Activity Date',
 'Activity Name',
 'Activity Type',
 'Activity Description',
 'Elapsed Time',
 'Distance',
 'Max Heart Rate',
 'Relative Effort',
 'Activity Gear',
 'Elapsed Time.1',
 'Moving Time',
 'Distance.1',
 'Max Speed',
 'Average Speed',
 'Elevation Gain',
 'Elevation Loss',
 'Elevation Low',
 'Elevation High',
 'Max Grade',
 'Average Grade',
 'Average Positive Grade',
 'Average Negative Grade',
 'Max Cadence',
 'Average Cadence',
 'Max Heart Rate.1',
 'Average Heart Rate',
 'Calories',
 'Max Temperature',
 'Average Temperature',
 'Relative Effort.1',
 'Number of Runs',
 'Uphill Time',
 'Downhill Time',
 'Other Time',
 'Gear']
df = pd.read_csv('data/activities.csv', usecols=cols)

In [80]:
df.head()

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Activity Gear,...,Average Heart Rate,Calories,Max Temperature,Average Temperature,Relative Effort.1,Number of Runs,Uphill Time,Downhill Time,Other Time,Gear
0,1927719,"Sep 28, 2011, 4:37:41 AM","09/28/2011 Istres, Provence-Alpes-Côte d'Azur,...",Run,NaN,1253,3.54,NaN,NaN,NaN,...,NaN,371.595459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1927721,"Sep 30, 2011, 4:35:32 AM","09/30/2011 Istres, Provence-Alpes-Côte d'Azur,...",Run,NaN,746,2.44,NaN,NaN,NaN,...,NaN,259.392212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1927722,"Sep 26, 2011, 4:34:33 AM","09/26/2011 Istres, Provence-Alpes-Côte d'Azur,...",Run,NaN,1252,3.52,NaN,NaN,NaN,...,NaN,373.191833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1927723,"Oct 10, 2011, 6:42:14 AM","10/10/2011 Cambridge, Cambridgeshire, United K...",Run,NaN,2305,6.70,NaN,NaN,NaN,...,NaN,693.651062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1927724,"Sep 23, 2011, 4:35:12 AM","09/23/2011 Istres, Provence-Alpes-Côte d'Azur,...",Run,NaN,1334,3.63,NaN,NaN,NaN,...,NaN,379.204193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
#  CONVERT DISTANCE FROM KM TO MILES
df['Distance'] = df['Distance'] * 0.621371

In [82]:
# DROP ERRONEOUS ACTIVITIES WHERE DISTANCE IS NEARLY ZERO, and round to two places
df.sort_values(by=['Distance'], ascending=True)
df['Distance'] = round(df['Distance'],2)

df = df.drop([5, 551, 554, 576, 52])

In [83]:
df.sort_values(by=['Distance'], ascending=True)

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Activity Gear,...,Average Heart Rate,Calories,Max Temperature,Average Temperature,Relative Effort.1,Number of Runs,Uphill Time,Downhill Time,Other Time,Gear
624,484170825,"Feb 2, 2016, 12:28:18 PM",Morning Run,Run,NaN,142,0.25,140.0,0.0,NaN,...,129.654922,44.203156,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
501,216674441,"Oct 23, 2014, 12:35:11 PM",10/23/2014,Run,NaN,188,0.38,NaN,NaN,NaN,...,NaN,63.585976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1267,2919881466,"Dec 8, 2019, 12:35:57 PM",Morning Run,Run,NaN,206,0.39,146.0,2.0,Second black pair,...,137.000000,49.000000,NaN,21.0,2.0,NaN,NaN,NaN,NaN,5001432.0
546,284388925,"Apr 2, 2015, 12:38:39 PM","04/02/2015 San Antonio, TX",Run,NaN,231,0.40,NaN,NaN,NaN,...,NaN,67.666794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,1772747527,"Aug 14, 2018, 11:48:38 PM",Warm up,Run,NaN,267,0.50,148.0,1.0,NaN,...,136.296585,57.000000,NaN,33.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,6534195503,"Jan 16, 2022, 1:02:03 PM",2022 Houston Marathon,Run,3:09:36 chip time. Felt like I had the potenti...,11380,26.54,185.0,470.0,NaN,...,166.256088,3275.000000,NaN,8.0,470.0,NaN,NaN,NaN,NaN,10291309.0
1742,6098139337,"Oct 11, 2021, 1:28:47 PM",Boston marathon 2021,Run,First Boston in the books and it was everythin...,11574,26.62,184.0,387.0,NaN,...,160.285385,3018.000000,NaN,20.0,387.0,NaN,NaN,NaN,NaN,9301265.0
198,23899471,"Sep 30, 2012, 7:04:17 AM","09/30/2012 Berlin, Berlin, Germany",Run,NaN,15618,26.64,NaN,NaN,NaN,...,NaN,4573.556641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009,2092243354,"Jan 20, 2019, 1:01:34 PM",Houston Marathon 2019 - 37 minute PR!,Run,Felt really strong and had to keep my pace in ...,12081,26.66,186.0,448.0,NaN,...,163.055252,3396.000000,NaN,6.0,448.0,NaN,NaN,NaN,NaN,4072040.0
1299,3025909058,"Jan 19, 2020, 1:02:11 PM",Houston Marathon 2020 - 3:05:38,Run,After a huge PR to run 3:20 last year I starte...,11139,26.73,179.0,396.0,NaN,...,161.000000,3140.000000,NaN,11.0,396.0,NaN,NaN,NaN,NaN,5470246.0

In [100]:
# convert time from seconds to HH:MM:SS
secs = 600
def secs_to_time(secs):
    return str(datetime.timedelta(seconds = secs))
    
df['Elapsed Time'] = df['Elapsed Time'].apply(secs_to_time)

df.sort_values(by=['Distance'], ascending=True)

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Activity Gear,...,Average Heart Rate,Calories,Max Temperature,Average Temperature,Relative Effort.1,Number of Runs,Uphill Time,Downhill Time,Other Time,Gear
624,484170825,"Feb 2, 2016, 12:28:18 PM",Morning Run,Run,NaN,0:02:22,0.25,140.0,0.0,NaN,...,129.654922,44.203156,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
501,216674441,"Oct 23, 2014, 12:35:11 PM",10/23/2014,Run,NaN,0:03:08,0.38,NaN,NaN,NaN,...,NaN,63.585976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1267,2919881466,"Dec 8, 2019, 12:35:57 PM",Morning Run,Run,NaN,0:03:26,0.39,146.0,2.0,Second black pair,...,137.000000,49.000000,NaN,21.0,2.0,NaN,NaN,NaN,NaN,5001432.0
546,284388925,"Apr 2, 2015, 12:38:39 PM","04/02/2015 San Antonio, TX",Run,NaN,0:03:51,0.40,NaN,NaN,NaN,...,NaN,67.666794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,1772747527,"Aug 14, 2018, 11:48:38 PM",Warm up,Run,NaN,0:04:27,0.50,148.0,1.0,NaN,...,136.296585,57.000000,NaN,33.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,6534195503,"Jan 16, 2022, 1:02:03 PM",2022 Houston Marathon,Run,3:09:36 chip time. Felt like I had the potenti...,3:09:40,26.54,185.0,470.0,NaN,...,166.256088,3275.000000,NaN,8.0,470.0,NaN,NaN,NaN,NaN,10291309.0
1742,6098139337,"Oct 11, 2021, 1:28:47 PM",Boston marathon 2021,Run,First Boston in the books and it was everythin...,3:12:54,26.62,184.0,387.0,NaN,...,160.285385,3018.000000,NaN,20.0,387.0,NaN,NaN,NaN,NaN,9301265.0
198,23899471,"Sep 30, 2012, 7:04:17 AM","09/30/2012 Berlin, Berlin, Germany",Run,NaN,4:20:18,26.64,NaN,NaN,NaN,...,NaN,4573.556641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009,2092243354,"Jan 20, 2019, 1:01:34 PM",Houston Marathon 2019 - 37 minute PR!,Run,Felt really strong and had to keep my pace in ...,3:21:21,26.66,186.0,448.0,NaN,...,163.055252,3396.000000,NaN,6.0,448.0,NaN,NaN,NaN,NaN,4072040.0
1299,3025909058,"Jan 19, 2020, 1:02:11 PM",Houston Marathon 2020 - 3:05:38,Run,After a huge PR to run 3:20 last year I starte...,3:05:39,26.73,179.0,396.0,NaN,...,161.000000,3140.000000,NaN,11.0,396.0,NaN,NaN,NaN,NaN,5470246.0